<div class="bg-background-100 w-full flex flex-col gap-2 px-6">
    <div class="left-8 top-3.5 flex items-center justify-between gap-4 text-2xl" >
        <div class="flex items-center gap-4">
            <div class="flex items-center gap-2 cursor-pointer text-accent-blue">
                <!-- <i class="fa-solid fa-comment"></i> -->
                <p class="text-xs">Chat mode</p>
            </div>
            <div class="flex items-center gap-2 cursor-pointer text-text-muted">
                <!-- <i class="fa-solid fa-microphone"></i> -->
                <p class="text-xs">Answer mode</p>
            </div>
        </div>

        <div id="question-Button" class="text-accent-blue items-center gap-2 hidden cursor-pointer">
            <p class="text-xs">New question</p>
            <i class="fa-solid text-sm fa-bolt"></i>     
        </div>
    </div>
    <form id="message-form" class="w-full mb-6 relative" action="">
        <input placeholder="Type a message" type="text" id="message-input" class="bg-background-200 text-sm p-4  focus:outline-0 focus:border-2 rounded-sm border-text-muted text-white placeholder:text-text-muted w-full h-14" >
        <button type="submit" class="absolute right-3 text-accent-blue text-2xl top-1/2 -translate-y-1/2">
            <i class="fa-solid fa-comment"></i>
        </button>
    </form>
</div>