<div id="game-question-container" class="bg-background-100 text-white w-full hidden justify-between items-center border-b-2 border-background-200 gap-6 p-6">
    <div id="game-question-el" class="text-justify">
    </div>
    
    <div id="countdown-ctn" class="p-3 rounded-sm text-accent-green">
        <span id="countdown-el">60</span>s
    </div>
</div>