    <div class="w-64 text-text-primary flex flex-col items-start justify-start bg-background hide-scrollbar min-h-screen overflow-y-scroll">
        <div class="mb-3 p-6 text-2xl border-b-1 border-text-primary w-full flex justify-between items-baseline">
            <p class="">Clique 30</p>
            <i class="fa-solid fa-right-to-bracket"></i>
        </div>
        <div class="w-full p-6 flex flex-col gap-4">
            <div class="flex justify-between items-center w-full">
                <div class="flex gap-2 justify-center items-center">
                    <div class="w-10 h-10 rounded-full flex justify-center items-center bg-user-1 text-white ">
                        A
                    </div>
                    <p>Adetayo</p>
                </div>
                <div class="text-sm text-white px-2 bg-accent-blue rounded-sm">
                    GM
                </div>
            </div>
            <div class="flex justify-between items-center w-full">
                <div class="flex gap-2 justify-center items-center">
                    <div class="w-10 h-10 rounded-full flex justify-center items-center bg-user-2 text-white ">
                        O
                    </div>
                    <p>Onetyten</p>
                </div>
            </div>
            <div class="flex justify-between items-center w-full">
                <div class="flex gap-2 justify-center items-center">
                    <div class="w-10 h-10 rounded-full flex justify-center items-center bg-user-3 text-white ">
                        M
                    </div>
                    <p>Mister Mxyzptlk</p>
                </div>
            </div>
        </div>
    </div>