@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";






:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-primary: #23272A;
  --background-secondary: #2C2F33;
  --text-primary: #99AAB5;
  --accent-blue: #5865F2;
  --accent-green: #57F287;
  --warning: #fae43c;
  --error: #fa453c;
  --user-1: #57a8a8;
  --user-2: #8a65f2;
  --user-3: #f2669e;
  --user-4: #f28c66;
  --user-5: #63d6b0;
  --user-6: #91a8d0;
  --user-7: #d1b849;
  --user-8: #b366ff;
  --user-9: #e6e6fa;
  --user-10: #a98d6c;
}

@theme inline {
  --font-poppins: "Poppins", sans-serif;
  --color-background: #23272A;
  --color-background-100: #2C2F33;
  --color-background-200: #40444B;
  --color-text-primary: #99AAB5;
  --color-text-muted: #72767D;
  --color-warning: #fae43c;
  --color-error: #fa453c;
  --color-accent-blue: #5865F2;
  --color-accent-green: #57F287;
  --color-user-1: #57a8a8;
  --color-user-2: #8a65f2;
  --color-user-3: #f2669e;
  --color-user-4: #f28c66;
  --color-user-5: #63d6b0;
  --color-user-6: #91a8d0;
  --color-user-7: #d1b849;
  --color-user-8: #b366ff;
  --color-user-9: #e6e6fa;
  --color-user-10: #a98d6c;
}
