<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clique</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-background-100 min-h-screen flex justify-center items-center">
    <form class="p-8 w-xl bg-background text-sm text-text-primary rounded-sm flex flex-col items-center gap-3">
        <p class="text-5xl font-bold">Clique</p>
        <p class="">Join a Clique or start your own</p>
        <input placeholder="# room number" type="text" class="bg-background-100 p-4 focus:outline-0 focus:border-2 rounded-sm border-text-muted placeholder:text-text-muted w-sm h-14" >
        
        <button class="p-3.5 w-52 bg-accent-blue hover:bg-accent-blue/80 text-white font-bold rounded-sm">
            Join room
        </button>
        <button class="p-3.5 w-52 bg-accent-green hover:bg-accent-green/80 text-background font-bold rounded-sm">
            Create room
        </button>
    </form>
</body>
</html>