<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clique</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body class="bg-background-100 relative min-h-screen flex justify-center items-center">
    <div class="p-4 sm:p-8 text-xs sm:text-sm w-10/12 md:w-xl bg-background text-text-primary rounded-sm flex flex-col items-center gap-3">
        <p class="text-2xl sm:text-5xl font-bold">Clique</p>
        <p class=" ">Join a Clique or start your own</p>

        <input id="name-input" placeholder="Name" type="text" class="bg-background-100 p-4 focus:outline-0 focus:border-2 rounded-sm border-text-muted placeholder:text-text-muted w-full sm:w-sm h-14" >

        <input id="clique-name-input" placeholder="Clique Name" type="text" class="bg-background-100 p-4 focus:outline-0 focus:border-2 rounded-sm border-text-muted placeholder:text-text-muted w-full sm:w-sm h-14" >

        <div class="flex w-full sm:w-sm gap-2">
            <input id="clique-key-input" placeholder="# key" type="password" class="bg-background-100 w-1/2 p-4 focus:outline-0 focus:border-2 rounded-sm border-text-muted placeholder:text-text-muted h-14" >
            <button id="join-btn" class="p-3.5 w-1/2 disabled:bg-text-muted bg-accent-blue hover:bg-accent-blue/80 text-white font-bold rounded-sm">
                Join Clique
            </button>
        </div>

        <button id="create-btn" class="p-3.5 w-full sm:w-sm disabled:bg-text-muted bg-accent-green hover:bg-accent-green/80 text-background font-bold rounded-sm">
            Create Clique
        </button>
    </div>
    <div id="spinner-container" class="absolute w-full hidden justify-center items-center h-full bg-background/80">
        <i class="fa-solid text-text-primary animate-spin text-5xl fa-spinner"></i>
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "closeButton": true,
            "progressBar": true, 
            "preventDuplicates": true,
        };
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>