<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clique</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-background-100">
    <h1 class="text-accent-green text-8xl">Hello niggas</h1>
    <a href="./room">Room</a>
    <%- include("./partials/footer.ejs") %>
</body>
</html>